.container-product {
    margin-bottom: 20px;
    box-sizing: border-box;
}

.container-product h1 {
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--PrimaryColor);
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 1px;
    text-wrap: wrap;
    line-height: 20px;
}

.container-product-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-product-card {
    width: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.container-product-card .one_card {
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    padding: 20px;
    outline: none;
}

.container-product-card .one_card .span{
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.container-product-card .one_card .span::before {
    content: 'Offer';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

.container-product-card .one_card .span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}

.container-product-card .card-body {
    z-index: 2;
}

.container-product-card .card-body .image-ss {
    width: 100%;
    margin: 15px auto;
}

.card-title1 span,
.card-text span {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
    text-wrap: wrap;
    line-height: 20px;
}

.card-title1 u,
.card-text u {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    word-spacing: 1px;
    text-wrap: wrap;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0px 10px 0px;
}

.btn-Home {
    padding: 0.4rem 1rem;
    width: 6rem;
    height: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background: var(--background3);
    transition: 0.3s ease-in-out;
}

.btn-Home .Link,
.btn-Home span {
    color: var(--background2);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.btn-Home:hover {
    transform: translateY(-3px);
    transform: scale(3px);
}

.Add {
    width: 100%;
    height: 18rem;
    margin: 50px 0;
    background-image: url("/src/im&ve/cta-banner-opt.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.disp-flex-add {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.disp-flex-add .dispText-add {
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

.btn-Home-add1 {
    padding: 0.6rem 1.5rem;
    width: 20rem;
    height: 3rem;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background: none;
}

.btn-Home-add1 .Link-add1 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.btn-Home-add1:hover .Link-add1 {
    color: var(--background3);
}

.btn-Home-add1:hover {
    background-color: var(--background);
    border: none;
    transition: 0.3s ease-in-out;
    transform: translateY(-3px);
    transform: scale(3px);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container .search-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-top: 30px;
}

.form-container .search-block .form-control {
    width: 30rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.form-container .max-min-block {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.form-container .max-min-block .only-pri {
    width: 35%;
    height: 90px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.text-of-max-min {
    font-size: 20px;
    color: var(--PrimaryColor);

}


input[type="range"] {
    width: 250px;
    margin-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

/* input[type="range"]::-webkit-slider-thumb {
    background-color: #151f20;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
} */
.range-style::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    color: #e0e0e0;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.range-style::-webkit-slider-runnable-track {
    width: 100%;
}

.range-style::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
}

.range-style::-moz-range-track {
    width: 100%;
}

.range-style::-moz-range-thumb {
    position: relative;
    z-index: 1;
}


input[type="range"]::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style {
    width: 400px;
    height: 60px;
    padding: 20px;
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
}